<!-- (keydown)="handleEnterKey($event)" -->
<div id="moods">
  <div class="mood-block"
    (click)="onBoxClick()" 
    tabindex="0"
    [ngClass]="{'emphasized': isEmphasized}">
    <span>Anger</span> 
  </div>

  <div *ngIf="isEmphasized" class="anger-input-container">
    <input
      [readonly]="!inEditMode"
      type="text"
      class="response-text-area"
      [(ngModel)]="userInputTitle"
      placeholder="Title of entry..."
    >

          <!-- (keydown.enter)="createEmotion(userInputContext, userInputTitle)"  -->
    <textarea
      [readonly]="!inEditMode"
      class="response-text-area"
      [(ngModel)]="userInputContext" 
      placeholder="Describe your anger..."
      rows="10"
      cols="100"
    ></textarea>

    <!-- selectedEmotion !== null &&  -->
    <button *ngIf="inEditMode && userInputContext && userInputContext.trim() && userInputTitle && userInputTitle.trim()" class="response-enter-button" (click)="createEmotion(userInputContext, userInputTitle); inEditMode = false">
      Save
    </button>
    <button *ngIf="selectedEmotion !== null" (click)="editable()" class="response-enter-button">
      Edit
    </button>
    <button *ngIf="selectedEmotion !== null" (click)="deselectEmotion()" class="response-enter-button">
      Clear
    </button>

    <!-- <button *ngIf="userInputContext && userInputContext.trim() && userInputTitle && userInputTitle.trim()" class="response-enter-button" (click)="createEmotion(userInputContext, userInputTitle)">
      Enter
    </button> -->

    <!-- Display the list of anger emotions -->
    <h3>Anger Entries:</h3>
    <div *ngIf="angers$ | async as angers" class="anger-list-container">
      <div class="navigation-arrows">
        <button (click)="prevAnger()" [disabled]="currentEmotionIndex === 0">&#9664;</button> <!-- Left arrow -->
      </div>

      <ul *ngIf="angers.length > 0">
        <ng-container *ngFor="let anger of angers | slice:currentEmotionIndex:currentEmotionIndex + maxEmotionsToDisplay; let i = index" >
          <li *ngIf="selectedEmotion !== anger"
          class="mood-block" 
          (click)="onCarouselBoxClick(anger, currentEmotionIndex)"
          >
          
        <strong>Title:</strong> {{ anger?.title }}<br />
        <strong>Created Date:</strong> {{ anger?.createdDate }}<br />
      </li>
        </ng-container>
      </ul>

      <div class="navigation-arrows">
        <button (click)="nextAnger()" [disabled]="currentEmotionIndex + maxEmotionsToDisplay >= (angers.length)">&#9654;</button> <!-- Right arrow -->
      </div>

      <div *ngIf="angers.length === 0">
        <p>No anger emotions recorded.</p>
      </div>
    </div>
  </div>
</div>
