<div class="container">
  <!-- <h1 class="feeling-question-header">I Am Feeling ...</h1> -->
  
  <div id="moods">
    <app-happy></app-happy>
    <!-- <div class="mood-block" (click)="handleMood('Sad')">Sad</div> -->
    <app-anger></app-anger>
    <!-- <div class="mood-block" (click)="handleMood('Excited')">Excited</div> -->
    <!-- <div class="mood-block" (click)="handleMood('Anxious')">Anxious</div> -->
  </div>

  <!-- Router Outlet for routing -->
  <router-outlet></router-outlet>
</div>
